* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  color: $text-dark;
  background-color: white;
}
h1, h2, h3, h4 {
  font-family: $font-primary;
}