.hero {
  padding-bottom: 80px;
  background-image: url(../assets/images/home_hero_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 790px;

  .container {
    display: flex;
    align-items: center;
    gap: 60px;
  }



  

  &-buttons {
    display: flex;
    gap: 15px;
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}